<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shubham Agarwal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <nav class="navbar navbar-dark" style="background-color: black;">
    <div class="container">
      <div class="navbar-header" style="color: white;">
        
        <p class="navbar-brand">
          SHUBHAM AGARWAL
        </p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->

          <li id="about""><a style="color: aliceblue;">STAY SAFE</a></li>
          <li id="contact"><a style="color: aliceblue;">STAY HOME</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
